= "First name: #{@message.first_name}"
%br
= "Last name: #{@message.first_name}"
%br
= "Sent at: #{@message.created_at}"
%br
= "Source: #{@message.source}"
%br
= "User Agent: "
%br
= simple_format @message.user_agent
%br
%br
= simple_format @message.message